<!DOCTYPE html>
<html lang="en-us">

	<head>
		<meta charset="utf-8">
		<title>-Where's Waldo? Picture #1-</title>
		<link rel="stylesheet" href="styles.css">
		<script type="text/javascript" src="scripts.js"></script>
	</head>

	<body>
		<div class="wrapper">
			<h1>Level 1 - Very Easy</h1>
			<br>
			<div class="gameWindow">
				<img src="images/Waldo01-easy.jpg" class="searchImage" id="WaldoLevel1">
				<h2 id="timeLapsed"></h2>
			</div>
			<p>Find Waldo!</p>

			<div id="modal" style="display: none"></div>

			<div id="modalContent" style="display: none">
			  	<div id="modalTimer"></div>
			  	<div id="modalMessage">Good job!</div>
			  	<form action="#" id="modalHighScoreButton">
			  		<input type="submit" value="High Scores">
			  	</form>
			  	<form action="pic2.html" id="modalNext">
			  		<input type="submit" value="Next Puzzle">
			  	</form>			  
			</div>

			<div id="modalHighScore" style="display: none">
			  	<div id="modalHighScoresTitle"></div>
			  	<div id="actualHighScores"></div>
			  	<form action="" id="modalHighScoreButton">
			  		<input type="submit" value="High Scores">
			  	</form>
			  	<form action="pic2.html" id="modalNext">
			  		<input type="submit" value="Next Puzzle">
			  	</form>			  	
			</div>
		</div>
	</body>
</html>