body {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	background-color: rgb(255, 248, 209);
	background-image: url("images/WaldoBG.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

.wrapper {
	background-color: rgba(255, 250, 224, 0.7);
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-top: -3000px;
	margin-bottom: -10px;
	padding-top: 3000px;
	box-shadow: 0px 0px 10px #918952;
	min-height: 100%;
}

h1 {
	font-family: sans-serif;
	text-align: center;
	color: #4c4c4c;
}

p {
	font-family: sans-serif;
	text-align: justify;
	padding-right: 10px;
	padding-left: 10px;
	color: #4c4c4c;
}

input[type=submit] {
	display: block;
	width: 120px;
	height: 60px;
	font-family: sans-serif;
	font-size: 1.2em;
	text-align: center;
	color: white;
	background-color: #e61934;
	border: none;
	border-radius: 10px;
	margin-right: auto;
	margin-left: auto;
	text-decoration: none;
}

#waldoBasic {
	display: block;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	border-style: dashed;
	border-width: 2px;
	border-color: black;
	/*box-shadow: 0px 0px 8px black;*/
}

.searchImage {
	display: block;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 8px black;
}

#timeLapsed {
	display: none;
}

#modal{
  background: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 9950;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
#modalContent {
  width: 600px;
  height: 350px;
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  margin-left: -350px;
  margin-top: -250px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  padding: 120px 30px 30px 30px;
  box-shadow: 0px 0px 12px black;
}

#modalHighScore {
  width: 600px;
  height: 350px;
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  margin-left: -350px;
  margin-top: -250px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  padding: 20px 30px 30px 30px;
  box-shadow: 0px 0px 12px black;
}

#modalMessage {
  font-family: sans-serif;
  font-size: 3em;
  line-height: 1.5em;
  text-align: center;
}

#modalHighScoresTitle {
  font-family: sans-serif;
  font-size: 3em;
  line-height: 1.5em;
  text-align: center;
}

#actualHighScores {
  font-family: sans-serif;
  font-size: 1.5em;
  text-align: center;
}

#modalNext input[type=submit]{
	display: block;
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 180px;
	height: 70px;
	font-family: sans-serif;
	font-size: 1.7em;
	text-align: center;
	padding: 10px 10px 10px 10px;
	color: white;
	background-color: #e61934;
	border: none;
	border-radius: 10px;
	margin-right: auto;
	margin-left: auto;
	text-decoration: none;
}

#modalHighScoreButton input[type=submit]{
	display: block;
	position: absolute;
	bottom: 20px;
	left: 20px;
	width: 180px;
	height: 70px;
	font-family: sans-serif;
	font-size: 1.7em;
	text-align: center;
	padding: 10px 10px 10px 10px;
	color: white;
	background-color: #2483e2;
	border: none;
	border-radius: 10px;
	margin-right: auto;
	margin-left: auto;
	text-decoration: none;
}

#modalTimer {
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 5em;
	line-height: 2em;
	text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
	-webkit-transform:scale(1,1.5); /* Safari and Chrome */
    -moz-transform:scale(1,1.5); /* Firefox */
    -ms-transform:scale(1,1.5); /* IE 9 */
    -o-transform:scale(1,1.5); /* Opera */
    transform:scale(1,1.5); /* W3C */
}










